.footer {
  background-color: #2d2d2d;
  padding: 22px 0;
  @media (min-width: 100px) and (max-width: 480px) {
    background-color: #fafafa;
  }
  .info-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media (min-width: 100px) and (max-width: 1024px) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    @media (min-width: 100px) and (max-width: 480px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    p, a {
      display: inline-block;
      color: #ffffff;
      text-align: center;
      font-family: 'Roboto-Regular', sans-serif;
      font-size: 14px;
      font-weight: 400;
      @media (min-width: 100px) and (max-width: 1024px) {
        display: block;
        margin: 0 auto 10px;
        line-height: 1.3;
      }
      @media (min-width: 100px) and (max-width: 480px) {
        color: #000000;
        display: inline-block;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 12px;
        &:last-child {
          margin: 0;
        }
      }
    }
    a {
      text-decoration: none;
      &:hover, &:active, &:focus {
        text-decoration: underline;
        outline: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}